# ========================================================
# 🎮 ÇOKLU ODA CANLI YAYIN BOTLARI (HESAP TOKENLERİ)
# ========================================================

# 1. TRT 1 & Tabii Yayını Yapacak Hesap Tokeni:
TRT_TOKEN=

# 2. beIN SPORTS Yayını Yapacak Hesap Tokeni:
BEIN_TOKEN=

# 3. Canlı Maç (Test3 / Özel Maçlar) Yayını Yapacak Hesap Tokeni:
MATCH_TOKEN=

# Genel Yedek Token:
DISCORD_TOKEN=

# ========================================================
# ⚙️ GENEL AYARLAR
# ========================================================
PREFIX=!
PORT=8999
PROXY_PORT=8999

# 🛡️ Free / Nitro'suz Hesap Tam Uyumlu Ayarlar (Sıfır Paket Kaybı, 720p HD @ 30 FPS)
STREAM_WIDTH=1280
STREAM_HEIGHT=720
STREAM_FPS=30
STREAM_BITRATE=1500
STREAM_AUDIO_BITRATE=96
AUDIO_DELAY=400
